@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --principal: #8E2DE2;
    --secondary: #4A00E0;
    --dark-principal: #4c008e;
    --white: #fff;
}


body {
    position: relative;
    overflow: hidden;
    background: url('/images/bgdgif.gif') no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

a {
    color: inherit;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 4rem;
    backdrop-filter: blur(10px);
    margin-bottom: 3rem;
}

.text-logo {
    font-size: 24px;
    cursor: pointer;
    transition: 0.4s ease;
}

.text-logo:hover {
    transform: scale(1.1);
}

.text-logo a {
    color: var(--white);
}

.text-logo a:hover {
    color: var(--dark-principal);
}

.ul-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 18px;
}

.ul-navbar li a {
    color: var(--white);
    position: relative;
    transition: color 0.4s ease;
}

#servicos {
    color: var(--dark-principal);
    font-weight: 800;
}

.ul-navbar li a:hover {
    color: var(--dark-principal);
}

#servicos:hover {
    color: var(--dark-principal);
}

.content-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.containeres-servicos {
    display: flex;
    max-height: 475px;
    padding: 1rem 0;
}

.containeres-textos {
    width: 30%;
    text-align: center;
    color: var(--white);
}

.containeres-textos p span {
    color: var(--dark-principal);
    font-weight: 800;
}

.containeres-servicos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#service img {
    border-radius: 15px;
    /* width: 100%; */
    /* height: 100%; */
}

.service-um,
.service-dois,
.service-tres,
.service-quatro,
.service-cinco {
    width: 100%;
}

.container-geral-fotos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

@media (max-width: 1270px) {
    body {
        overflow: scroll;
        background-repeat: repeat;
    }

    .containeres-servicos {
        flex-direction: column;
        margin: 11rem 5% 0 5%;
    }

}

@media (max-width: 660px) {

    .content-services {
        flex-direction: column;
    }

    .containeres-textos {
        text-align: center;
        width: 30rem;
    }
}

@media (max-width: 480px) {
    .containeres-textos {
        width: 25rem;
    }
}

@media (max-width: 420px) {
    .photo {
        width: 320px;
    }

    .containeres-textos {
        text-wrap: wrap;
        width: 100%;
    }
}